@using YandM.Models


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y&M - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Y & M", "ShowHomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    
                    
                    <li>@Html.ActionLink("Dogs", "Dogs", "Products")</li>
                    <li>@Html.ActionLink("Cats", "Cats", "Products")</li>
                    
                    @if (Session["signedin"] != null)
                    {
                        string welcome = "Welcome " + (Session["signedin"] as Users).UserName;
                        <li style="color:white;position:center,absolute,fixed;">@welcome </li>
                        if (Convert.ToBoolean(Session["isadmin"]))
                        {
                            <li>@Html.ActionLink("Add Product to Catalog", "AddProducts", "Products")</li>
                        }

                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                        <li>@Html.ActionLink("Sign-up", "Signup", "Login")</li>
                        @*<li><input id="Text1" type="text" placeholder="Search Products"/></li>
                        <li><input id="Button1" type="button" value="Search" onclick="location.href=
                                   @Url.Action("search","Products")'" /></li>*@
                        @*<li>
                            <form action="search" method="post">
                                @Html.TextBoxFor(m => m.Products.product_name)

                            </form>
                        </li>*@

                    }

                </ul>

                
                
                    
                
            </div>

        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:blue;"> @DateTime.Now.Year - Yehonatan And Mark pet store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
