@model YandM.Models.Products

<head>
<meta name="viewport" content="width=device-width" />
</head>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <body>
        <h2>Add New Product</h2>
        <form action="Submit" method="post" />
            <table>
                <tr>
                    <td>Product Name</td>
                    <td>@Html.TextBoxFor(m => m.product_name) @Html.ValidationMessageFor(x => x.product_name)</td>
                </tr>
                <tr>
                    <td>Product Image</td>
                    <td>@Html.TextBoxFor(m => m.img_url)@Html.ValidationMessageFor(x => x.img_url)</td>
                </tr>
                <tr>
                    <td>Product Price</td>
                    <td>@Html.TextBoxFor(m => m.price)@Html.ValidationMessageFor(x => x.price)</td>
                    </tr>
                @*<tr>
                    <td>Product ID</td>
                    <td>@Html.TextBoxFor(m => m.productId)@Html.ValidationMessax`geFor(x => x.productId)</td>

                </tr>*@
                <tr>
                    <td>Product Description</td>
                    <td>@Html.TextBoxFor(m => m.description)@Html.ValidationMessageFor(x => x.description)</td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td>@Html.DropDownListFor(
                       m=>m.type, new List<SelectListItem>
                                 { new SelectListItem { Text = "Dogs", Value = "Dogs"},
                                   new SelectListItem { Text = "Cats", Value = "Cats"},
                                   })</td>
                </tr>
                <tr>
                    <td colspan="2"><input id="Submit1" type="submit" value="Add Product" /></td>
                </tr>
            </table>
</body>

