@model YandM.Models.UsersVM
@{ 
    ViewBag.title = "Login page";

}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<br />
<br />
<br />
<h2>Log In</h2>
@if(ViewBag.message !=null)
 {
    <span style="color:red">@ViewBag.message</span>
    ViewBag.message = null;
}
<form action="Verify" method="post">
    <table>
        <tr>
            <td>User Name</td>
            <td>@Html.TextBoxFor(m => m.user.UserName)<span style="color:red"> @Html.ValidationMessageFor(x => x.user.UserName)</span></td>
        </tr>
        <tr>
            <td>Password</td>
            <td>@Html.PasswordFor(m => m.user.UserPassword) <span style="color:red">@Html.ValidationMessageFor(x => x.user.UserPassword)</span></td>
        </tr>
        <tr>
            <td colspan="2"><input id="Submit1" type="submit" value="Log in" /></td>
        </tr>
    </table>
    <p>
    </p>

</form>